<div class="container">
  <div class="section image-section">
      <img src="../../../../assets/images/view-products.jpg" alt="Imagen descriptiva" class="image">
  </div>
  <div class="section title-section">
    <i *ngIf="lowStockCount > 0" class="pi pi-bell notification-icon" (click)="showAlertStockDialog()">
        <span class="notification-count">{{ lowStockCount }}</span>
    </i>
    <p class="title">PRODUCTS</p>
    <button pButton pRipple icon="pi pi-plus" (click)="navigateToRegisterProduct()" class="p-button-rounded add-product-button">
        <span class="button-text">Add Product</span>
    </button>
    <button *ngIf="selectedProduct" pButton pRipple icon="pi pi-upload" (click)="showUpdateStockDialog()" class="p-button-rounded update-stock-button">
        <span class="button-text">Update Stock</span>
    </button>
  </div>

  <div class="section table-section">
      <div *ngIf="loading" class="loading-container">
          <p-progressSpinner 
              strokeWidth="4" 
              animationDuration=".5s">
          </p-progressSpinner>
      </div>

      <div class="card" *ngIf="!loading">
        <p-table [value]="filteredProducts" dataKey="id" editMode="row" scrollable="true" selectionMode="single" 
        [(selection)]="selectedProduct"  [scrollHeight]="tableScrollHeight">
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="name" pResizableColumn>Name <p-sortIcon field="name"></p-sortIcon></th>
                      <th pSortableColumn="price" pResizableColumn>Price <p-sortIcon field="price"></p-sortIcon></th>
                      <th pSortableColumn="description" pResizableColumn>Description <p-sortIcon field="description"></p-sortIcon></th>
                      <th pSortableColumn="stock" pResizableColumn>Stock <p-sortIcon field="stock"></p-sortIcon></th>
                      <th style="min-width:10rem">
                        <div class="flex align-items-center">
                          Category
                          <p-columnFilter field="category" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                            <ng-template pTemplate="header">
                              <div class="px-3 pt-3 pb-0"><span class="font-bold">Category Picker</span></div>
                            </ng-template>
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-multiSelect 
                                    [options]="categories" 
                                    placeholder="Select" 
                                    (onChange)="filterByCategory($event.value)"
                                    optionLabel="name"  
                                    optionValue="id"> 
                                    <ng-template let-value pTemplate="item">
                                    <div class="inline-block">
                                        <span class="ml-1 mt-1">{{ value.name }}</span>
                                    </div>
                                    </ng-template>
                              </p-multiSelect>
                              
                            </ng-template>
                          </p-columnFilter>
                        </div>
                      </th>
                      <th class=" align-items-center">Image</th>
                      <th pSortableColumn="calories" pResizableColumn>Calories <p-sortIcon field="calories"></p-sortIcon></th>
                      <th></th>
                  </tr>
              </ng-template>

              <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="product" [pSelectableRow]="product"   [ngClass]="{'low-stock-row': isLowStock(product.stock)}">
                      <td>{{ product.name }}</td>

                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="number" [(ngModel)]="product.price" min="0" />
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{ product.price | currency: 'USD' }}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td>
                          <p-cellEditor>
                              <ng-template pTemplate="input">
                                  <input pInputText type="text" [(ngModel)]="product.description" />
                              </ng-template>
                              <ng-template pTemplate="output">
                                  {{ product.description }}
                              </ng-template>
                          </p-cellEditor>
                      </td>

                      <td>{{ product.stock }}</td>

                    
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-multiSelect 
                                    [options]="categories" 
                                    [(ngModel)]="editingProductCategories[product.id]" 
                                    optionLabel="name"
                                    placeholder="Select categories"
                                    [maxSelectedLabels]="100"
                                    (onChange)="updateTempSelectedCategories(product.id, editingProductCategories[product.id])">
                                </p-multiSelect>

                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ getCategoryNamesByIds(product.category) }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <img [src]="product.imageUrl" [alt]="product.name" width="100" height="70" class="shadow-4" />
                    </td>

                    <td>
                        {{ product.calories }}
                    </td>


                      <td>
                          <div class="flex align-items-center justify-content-center gap-2">
                              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                  (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                              
                              <ng-container *ngIf="editing">
                                  <button *ngIf="savingRowId === product.id" pButton type="button" [disabled]="true" 
                                      class="p-button-rounded p-button-text p-button-success inline-spinner-button">
                                      <p-progressSpinner strokeWidth="5" [style]="{width: '18px', height: '18px'}"></p-progressSpinner>
                                  </button>
                                  
                                  <button *ngIf="savingRowId !== product.id" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                      (click)="onRowEditSave(product)" [disabled]="!isProductDataValid(product)" class="p-button-rounded p-button-text p-button-success"></button>
                                  
                                  <button *ngIf="savingRowId !== product.id" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                      (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                              </ng-container>
                              
                              <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                                  (click)="showConfirmDialog(product.id)" [disabled]="editing"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>

              <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between">
                      In total there are {{ products ? products.length : 0 }} products.
                  </div>
              </ng-template>
          </p-table>
      </div>
  </div>
</div>

<p-dialog [(visible)]="displayConfirmDialog" [modal]="true" header="Delete product" [closable]="!deleting"> 
  
  <div *ngIf="deleting" class="dialog-spinner-content"> 
      <p-progressSpinner strokeWidth="4" animationDuration=".5s"></p-progressSpinner>
  </div>

  <app-confirmation-pop-up
    *ngIf="!deleting"
    [subtitle]="'Are you sure you want to proceed?'"
    (onClose)="closeConfirmDialog()"
    (onSend)="deleteProduct()">
  </app-confirmation-pop-up>
</p-dialog>

<p-dialog [(visible)]="displayUpdateStockDialog" [modal]="true" header="Update product stock" [closable]="true">
    <app-update-stock 
        [product]="selectedProduct" 
        (onClose)="displayUpdateStockDialog = false"
        (onFailed)="dialogNoticeError = true"
        (onSuccess)="dialogNoticeSuccess = true">
    </app-update-stock>
</p-dialog>

<p-dialog [(visible)]="dialogNoticeSuccess" header="Update product stock"  [modal]="true" >
    <app-notice [subtitle]="'Update Successful'" (onClose)="successUpdate()"></app-notice>
</p-dialog>

<p-dialog [(visible)]="dialogNoticeError" header="Update product stock"  [modal]="true" >
    <app-notice [subtitle]="'Something went wrong'" (onClose)="dialogNoticeError = false; displayUpdateStockDialog = false"></app-notice>
</p-dialog>

<p-dialog [(visible)]="alertStockDialog" [modal]="true">
    <ng-template pTemplate="header">
        <i class="pi pi-exclamation-triangle" style="color: red; font-size: 1.5rem;"></i>
        <h2>Attention Required</h2>
    </ng-template>
    <app-alert-stock [outOfStockProducts]="lowStockProducts" (onClose)="closeAlertStockDialog()"></app-alert-stock>
</p-dialog>