html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 5%;
}

.section {
    flex: 1;
}

.image-section {
    flex: 0.5;
    height: 10%;
    width: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-section {
    flex: 0.15;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f522e;
    color: #f2f2f2;
    position: relative;
}

.title {
    font-size: 2rem;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.add-product-button {
    position: absolute;
    right: 2%;
    background-color: #caa171; 
    color: #7f522e;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.add-product-button:hover {
    background-color: #b58958;
}

.add-product-button .button-text {
    margin-left: 8%;
  }

.update-stock-button {
    position: absolute;
    right: 13%;
    background-color: #caa171; 
    color: #7f522e;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.update-stock-button:hover {
    background-color: #b58958;
}

.update-stock-button .button-text {
    margin-left: 8%;
  }


.table-section {
    flex: 1;
    background-color: #d0d0d0;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.card {
    width: 100%;
    height: 100%;
}


.p-highlight {
    background-color: #e9cdab !important; 
    color: #7f522e; 
}


p-table {
    width: 100%;
}

.notification-icon {
    font-size: 1.2rem;
    margin-left: 1.5%;
    position: relative;
    cursor: pointer;
  }

  .low-stock-row {
    color: red;
  }
 
  .notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #f44336;
    color: white;
    border-radius: 50%;
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .notification-icon {
    animation: shake 0.5s ease-in-out;
  }
  
  

@media (max-width: 768px) {
    .container {
        margin-left: 10%;
    }

    .image-section {
        flex: 0.2;
    }

    .title-section {
        flex: 0;
    }
    
    .title {
        font-size: 1.2rem;
        padding: 10px;
    }
    
    th:nth-child(3),
    th:nth-child(4),
    th:nth-child(5),
    th:nth-child(6),
    th:nth-child(7),
    th:nth-child(8),
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5),
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8){
        display: none;
    }

    
    .add-product-button {
        position: absolute;
        right: 2%;
        padding: 0.5rem 0.6rem;
    }


    .update-stock-button {
        right: 13%;
        padding: 0.5rem 0.6rem;
    }

    .button-text {
        display: none; 
    }

    ::ng-deep .p-dialog {
        left: 5% !important;
    }

    .notification-icon {
        margin-left: 5%;
      }
}

.loading-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%; 
    min-height: 200px; 
}

@media (max-width: 768px) {
    ::ng-deep .p-progress-spinner {
        width: 50px;
        height: 50px;
    }
}


.dialog-spinner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100px;
}