<div class="container">
  <div class="section image-section">
    <img src="../../../../assets/images/tables2.jpg" alt="Imagen descriptiva" class="image">
  </div>
  <div class="section title-section">
    <p class="title">MY TABLES</p>
    <div class="notification-bell"  (click)="onNotificationClick()">
      <i class="pi pi-inbox"></i>
      <span class="inactive-count">{{ inactiveOrdersCount }}</span>
    </div>
    <div class="notification-bell" (click)="onReservationNotificationClick()">
      <i class="pi pi-calendar"></i>
      <span class="inactive-count">{{ todayReservationsCount }}</span>
    </div>
  </div>
  
  <div class="section table-section">
    <div class="card table-wrapper">
      <p-table [value]="tables" dataKey="id" scrollable="true" [scrollHeight]="tableScrollHeight">
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Capacity</th>
            <th>Status</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-table let-ri="rowIndex">
          <tr (click)="onTableClick(table)">
            <td>{{ table.id }}</td>
            <td>{{ table.capacity}} </td>
            <td [ngClass]="{'status-free': table.status === 'FREE', 'status-busy': table.status === 'BUSY', 'status-finished': table.status === 'FINISHED', 'status-reserved': table.status === 'RESERVED'}"> {{ table.status }}
              </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{ tables ? tables.length : 0 }} tables
          </div>
        </ng-template>
      </p-table>
    </div>

    <div class="table-icons">
      <div *ngFor="let table of tables" class="table-icon" [ngClass]="{'status-free': table.status === 'FREE', 
            'status-busy': table.status === 'BUSY', 
            'status-finished': table.status === 'FINISHED', 
            'status-reserved': table.status === 'RESERVED'}" (click)="onTableClick(table)">
            <i class="fas fa-utensils"></i>
            <span>{{ table.id }}</span>
        </div>
    </div>
  </div>
</div>

<p-dialog class="custom-modal" [(visible)]="displayModal" modal="true" [closable]="false" [responsive]="true">
  <ng-container *ngIf="selectedComponent === 'FREE'">
    <app-table-free 
      [table]="selectedTable" 
      (close)="displayModal = false">
    </app-table-free>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'BUSY'">
    <app-table-busy
      [table]="selectedTable" 
      (close)="displayModal = false">
    </app-table-busy>
  </ng-container>

  <ng-container *ngIf="selectedComponent === 'FINISHED'">
    <app-table-finished
      [table]="selectedTable" 
      (close)="displayModal = false">
    </app-table-finished>
  </ng-container>
</p-dialog>

<p-dialog class="custom-modal" [(visible)]="displayModalInactive" modal="true" header="Asign Table" [closable]="true" [responsive]="true">
  <app-asign-inactive-order 
    [orders]="inactiveOrders" 
    [freeTables]="freeTables"
    (close)="closeModalInactive()">
  </app-asign-inactive-order>
</p-dialog>

<p-dialog class="custom-modal"
          [(visible)]="displayReservationsModal"
          modal="true"
          header="Reservations Today"
          [closable]="true"
          [responsive]="true">
      <app-assign-reservation-table
      [dateISO]="todayISO"
      (close)="displayReservationsModal=false"
      (assigned)="onReservationAssigned()">
    </app-assign-reservation-table>
</p-dialog>
