html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 5%;
}

.section {
    flex: 1;
}

.image-section {
    flex: 0.5;
    height: 10%;
    width: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-section {
    flex: 0.15;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7f522e;
    color: #f2f2f2;
    position: relative;
}

.notification-bell {
    position: relative;
    margin-right: 20px;
}

.notification-bell .pi {
    font-size: 24px;
    color: rgb(255, 255, 255); 
    cursor: pointer;
}

.notification-bell .inactive-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #d49969;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;  
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 2rem;
    margin: 0;
    flex-grow: 1;
    text-align: center;
    margin-left: 10%;
}

.table-section {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.card {
    width: 100%;
    height: 100%;
}

.table-wrapper {
    width: 40%;
    background-color: white;
    margin-left: 0;
}

.p-table {
    width: 100%;
}

.status-free {
    color: #23ae43bb;
    font-weight: bold;
}

.status-busy {
    color: #eedc12;
    font-weight: bold;
}

.status-finished{
    color: #c41729;
    font-weight: bold;
}

.status-reserved {
    color: #c8731e;
    font-weight: bold;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

.table-icons {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: center;
    align-items: center;
}

.table-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; /* Ajusta según sea necesario */
    height: 70px; /* Ajusta según sea necesario */
    background-color: #23ae43bb; /* Por defecto, verde para "FREE" */
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.table-icon.status-busy {
    background-color: #eedc12;
}

.table-icon.status-finished {
    background-color: #c41729;
}

.table-icon.status-reserved {
    background-color: #c8731e; /* El mismo violeta */
}
.table-icon i {
    font-size: 18px;
    margin-right: 5px;
    color: white;
}



@media (max-width: 600px) {
    .title{
        font-size: 1.2rem;
        
    }

    .title-section {
        flex: 0.05;
    }
    .image-section {
        flex: 0.2;
    }

    .container {
        margin-left: 10%;
    }

    .table-wrapper {
        display: none;
    }

    .table-icons {
        margin-top: -150px !important;
        padding-left: 5%;
        padding-right: 5%;
        max-width: 100%;
        justify-content: center;
        margin: 20px 0;
    }

    .table-icon {
        margin: 8px;
        width: 65px;
        height: 65px;
        font-size: 1.2rem;
    }

    .notification-bell .pi {
        font-size: 20px;
        
    }

    .notification-bell .inactive-count {
        font-size: 10px;  
    }

    ::ng-deep .custom-modal .p-dialog {
        position: absolute !important;
        margin-left: 10% !important; /* Ajusta este valor según lo que necesites */
        transform: none !important; /* Quita el centrado */
      }
      
}
