.category-panel {
    width: 100%;
    height: 100vh;
    background-color: #cbccbce0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .title {
    font-size: 1.6rem;
    text-align: left;
  }
  
  .panel-header {
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .panel-header button {
    background-color: #7f522e;
    color: white;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .panel-header button:hover {
    background-color: #674325;
  }
  
  .panel-body {
    font-size: 14px;
    line-height: 1.6;
    
  }

  .table-container {
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

  
  .panel-footer {
    padding: 10px;
    text-align: center;
    justify-content: center; 
  }
  
  .fadeinright {
    animation: fadeInRight 1s forwards;
  }
  
  .fadeoutright {
    animation: fadeOutRight 1s forwards;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOutRight {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  
  
  .image-container {
    position: relative;
    width: 50%; 
    height: 100%;
    overflow: hidden;
  }
  
  .add-ingredient {
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 50px !important;
    border: 1px solid #7f522e;
    background-color: #7f522e;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: auto;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

  /* Para centrar el dropdown */
.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin-top: 20px;
}

.p-button-success {
  background-color: transparent !important; 
  border: none !important; 
  color: green !important; 
}

.p-button-success:hover {
  color: #28a745 !important; 
  opacity: 0.8; 
}

.total-calories{
  text-align: center; 
  margin-top: 20px;
  font-size: 15px;
}


  .panel-footer button {
    margin-top: 8%;
    width: 150px;
    height: 45px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #7f522e;
    background-color: #7f522e;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .panel-footer button:hover {
    background-color: #b58958;
    color: #ffffff;
    border-color: #b58958; 
  }


  ::ng-deep .p-datatable-thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}
  
  ng::p-button-rounded.p-button-text.pi.pi-pencil {
    color: #7f522e; 
  }
  
  .p-button-danger {
    background-color: transparent;
    border: none; 
    color: red; 
    cursor: pointer; 
  }

  .p-button-danger:hover {
    color: rgb(201, 4, 4); 
  }


  @media (max-width: 770px) {
  
    .image-container {
      margin-left: 10%;
      position: relative;
      width: 90%; 
      height: 100%;
      overflow: hidden;
    }
  
  
    .category-panel {
      width: 100%;
      height: 100%;
      background-color: #cbccbcf2;
    }
  
  }

.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    margin-top: 10px;
}