<div class="container">
    <div class="section title-section">
        <p class="title">CHARTS</p>
    </div>
    
    <div class="charts" scrollable="true">
        <div class="all-charts-container">
            <!-- Category Revenue Chart -->
            <div class="chart-wrapper category-revenue">
                <h2 class="chart-title">Revenue by Category</h2>
                <div class="card flex justify-content-center">
                    <p-chart 
                        *ngIf="categoryData" 
                        type="pie" 
                        [data]="categoryData" 
                        [options]="categoryOptions">
                    </p-chart>
                </div>
            </div>
            
            <!-- Monthly Revenue Chart -->
            <div class="chart-wrapper monthly-revenue">
                <h2 class="chart-title">Monthly Revenue</h2>
                <div class="card flex justify-content-center">
                    <p-chart 
                        *ngIf="monthlyData" 
                        type="line" 
                        [data]="monthlyData" 
                        [options]="monthlyOptions" 
                        style="width: 100%; height: 100%;">
                    </p-chart>
                </div>
            </div>
        </div>
        
        <!-- Date Selectors -->
        <div class="date-selectors">
            <label for="year">Select Year:</label>
            <select id="year" [(ngModel)]="selectedYear" (change)="onDateChange()">
                <option *ngFor="let year of availableYears" [value]="year">{{year}}</option>
            </select>
            
            <label for="month">Select Month:</label>
            <select id="month" [(ngModel)]="selectedMonth" (change)="onDateChange()">
                <option *ngFor="let month of availableMonths" [value]="month">
                    {{ month }}
                </option>
            </select>
        </div>
        
        <!-- No Data Message -->
        <div class="no-data-alert" *ngIf="noDataMessage">
            {{ noDataMessage }}
        </div>
        
        <!-- Average Per Person Chart -->
        <div class="chart-wrapper per-day-chart" *ngIf="!noDataMessage && averagePerPersonData">
            <h2 class="chart-title">Average Per Person (Daily)</h2>
            <div class="card flex justify-content-center">
                <p-chart 
                    type="line" 
                    [data]="averagePerPersonData" 
                    [options]="averagePerPersonOptions">
                </p-chart>
            </div>
        </div>
        
        <!-- Average Per Ticket Chart -->
        <div class="chart-wrapper per-person-chart" *ngIf="!noDataMessage && averagePerTicketData">
            <h2 class="chart-title">Average Per Ticket (Daily)</h2>
            <div class="card flex justify-content-center">
                <p-chart 
                    type="line" 
                    [data]="averagePerTicketData" 
                    [options]="averagePerTicketOptions">
                </p-chart>
            </div>
        </div>
    </div>
</div>