<div *ngIf="loading" class="spinner-container">
    <p-progressSpinner ariaLabel="loading" />
</div>
<div *ngIf="!loading" class="charts-container">
    <div class="charts-section title-section">
        <p class="title">CHARTS</p>
    </div>
    
    <div class="charts" scrollable="true">
        <div class="all-charts-container">
            <div class="chart-wrapper category-revenue">
                <h2 class="chart-title">Revenue by Category</h2>
                <div class="card flex justify-content-center">
                    <p-chart 
                        *ngIf="categoryData" 
                        type="pie" 
                        [data]="categoryData" 
                        [options]="categoryOptions">
                    </p-chart>
                </div>
            </div>
            
            <div class="chart-wrapper monthly-revenue">
                <h2 class="chart-title">Monthly Revenue</h2>
                <div class="card flex justify-content-center">
                    <p-chart 
                        *ngIf="monthlyData" 
                        type="line" 
                        [data]="monthlyData" 
                        [options]="monthlyOptions">
                    </p-chart>
                </div>
            </div>
        </div>
        
        <div class="date-selectors">
            <label for="year">Select Year:</label>
            <select id="year" [(ngModel)]="selectedYear" (change)="onDateChange()">
                <option *ngFor="let year of availableYears" [value]="year">{{year}}</option>
            </select>
            
            <label for="month">Select Month:</label>
            <select id="month" [(ngModel)]="selectedMonth" (change)="onDateChange()">
                <option *ngFor="let month of availableMonths" [value]="month">
                    {{ month }}
                </option>
            </select>
        </div>

        <div *ngIf="loadingCharts" class="charts-spinner-container">
            <p-progressSpinner ariaLabel="loading charts" />
        </div>

        <div *ngIf="!loadingCharts">
            <div class="no-data-alert" *ngIf="noDataMessage">
                {{ noDataMessage }}
            </div>
            
            <div class="chart-wrapper per-day-chart" *ngIf="!noDataMessage && averagePerPersonData">
                <h2 class="chart-title">Average Per Person (Daily)</h2>
                <div class="card flex justify-content-center">
                    <p-chart 
                        type="line" 
                        [data]="averagePerPersonData" 
                        [options]="averagePerPersonOptions">
                    </p-chart>
                </div>
            </div>
            
            <div class="chart-wrapper per-person-chart" *ngIf="!noDataMessage && averagePerTicketData">
                <h2 class="chart-title">Average Per Ticket (Daily)</h2>
                <div class="card flex justify-content-center">
                    <p-chart 
                        type="line" 
                        [data]="averagePerTicketData" 
                        [options]="averagePerTicketOptions">
                    </p-chart>
                </div>
            </div>
        </div>
    </div>
</div>