:host ::ng-deep .p-inputtext {
    border-radius: 10px !important;
}

:host ::ng-deep .p-button {
    border-radius: 8px !important;
}

:host ::ng-deep .custom-send-button .p-button {
    background-color: #ab602f !important;
    border-color: #ab602f !important;
}

:host ::ng-deep .custom-send-button .p-button:hover {
    background-color: #894d26 !important;
    border-color: #894d26 !important;
}

:host ::ng-deep .custom-cancel-button .p-button {
    background-color: #533521c7 !important;
    border-color: #533521c7 !important;
}

:host ::ng-deep .custom-cancel-button .p-button:hover {
    background-color: #533521da !important;
    border-color: #533521da !important;
}

:host ::ng-deep .p-button:focus {
    outline: none !important;
}

:host .container {
    background-color: white;
}



