<div class="menu-container">
    <div class="menu-header">
            <img src="assets/images/taza.png" alt="Logo" class="menu-logo">
    </div>
    <p-tieredMenu [model]="items" class="custom-tieredmenu"></p-tieredMenu>
</div>

<p-dialog [(visible)]="displayConfirmDialog" [modal]="true" header="Log Out" [closable]="true">
    <app-confirmation-pop-up 
        [subtitle]="'Are you sure you want to proceed?'" 
        (onClose)="closeConfirmDialog()"    
        (onSend)="logOut()">
    </app-confirmation-pop-up>
</p-dialog>
<p-toast></p-toast>
