
.login-container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-blurred {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../../../../assets/images/login.jpg') no-repeat center center/cover;
    filter: blur(2px);
    z-index: -1;
}

.center-container {
    display: flex;
    height: 70%;
    width: 65%;
    box-shadow: 0 4px 8px rgba(205, 205, 205, 0.3);
}

.image-half {
    width: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.image-half img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transform: scale(1.5) translateX(13%);
    margin: 0;
}


.form-half {
    width: 50%;
    background-color: #533521de;
    display: flex;
    padding: 5%;
    justify-content: center;
}


.form-container {
    width: 100%;
    text-align: center;
    color: white;
}


.nav-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.nav-btn {
    background-color: #3e1f076d;
    border: none;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 25px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.nav-btn.active {
    background-color: #ab602f;
    cursor: default;
}

.nav-btn:hover:not(.active) {
    background-color: #ab602f;
}

.form-input {
    margin-bottom: 3%;
}

::ng-deep .form-input input {
    width: 300px;
    padding: 10px;
    border-radius: 30px  !important; 
    border: 1px solid #af9375;
    background-color: #af9375;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

::ng-deep .form-input p-password .p-password-input {
    width: 300px;
    padding: 10px;
    border-radius: 30px  !important; 
    border: 1px solid #af9375;
    background-color: #af9375;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

::ng-deep .form-input p-password .p-password-input:focus {
    border-color: #6d4f28;
    outline: none;
}

::ng-deep .form-input label {
    color: #fff;
    margin-left: 10px;
}

::ng-deep .form-button .p-button {
    margin-top: 5%;
    width: 200px;
    background-color: #ab602f !important;
    color: #fff !important;
    border: none !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 80px !important;
    transition: background-color 0.3s !important;
}

::ng-deep .form-button .p-button:hover {
    background-color: #894d24 !important;
}

::ng-deep .form-button .p-button .p-button-label {
    font-weight: 500 !important;
    font-family: Arial, sans-serif !important;
}


.valid {
    color: green;
    font-weight: 600;
}

.image-half .title{
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.image-half .subtitle{
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.image-half .centered-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: 'Arial', sans-serif;
}


.file-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .file-name {
    font-size: 14px;
    margin-right: 10px;
  }
  

  .clear-btn {
    background-color: transparent;
    border: none;
    color: #f44336;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .clear-btn:hover {
    color: white;
    background-color: #d32f2f;
  }

  
::ng-deep .form-input .p-fileupload-choose  {
    width: 300px;
    padding: 10px;
    border-radius: 30px  !important; 
    border: 1px solid #af9375;
    background-color: #af9375;
    color: #fff;
    font-size: 18px;
    box-sizing: border-box;
}

  ::ng-deep .p-fileupload-choose:hover {
    background-color: #bbac93;
  }

  ::ng-deep .custom-file-upload .p-button-label {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

  
  .custom-file-upload[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  

  .image-preview {
    margin-top: 10px;
  }
  
  .preview-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 4px; 
    border: 1px solid #cbccbc; 
  }




@media (max-width: 920px) {
    ::ng-deep .form-input input {
        width: 100%;
    }

    ::ng-deep .form-input p-password .p-password-input {
        width: 100%;
    }

    ::ng-deep .form-button .p-button {
        width: 100%;
    }

    .nav-btn {
        padding: 10px 20px;
        font-size: 18px;
    }

    .login-form {
        margin-top: 30%;
    }
}

@media (max-width: 600px) {
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .center-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .image-half {
        display: none;
    }

    .form-half {
        width: 100%;
        padding: 10% 5%;
    }

    .form-container {
        width: 100%;
        text-align: center;
    }

    .form-input input,
    .form-input p-password .p-password-input {
        width: 100%;
        max-width: 400px;
    }

    .form-button .p-button {
        width: 100%;
        max-width: 200px;
        margin-top: 10%;
    }

    .login-form {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
}



