<div class="login-container">
    <div class="background-blurred"></div>
    <div *ngIf="loading" class="spinner-container">
        <p-progressSpinner ariaLabel="loading" />
    </div>
    <div *ngIf="!loading" class="center-container">
        <div class="image-half">
            <img src="assets/images/login.jpg" alt="Imagen centrada">
            <div class="centered-text">
                <div class="title">C&V</div>
                <div class="subtitle">BAR</div>
            </div>
        </div>
        <div class="form-half">
            <div class="form-container">
                <div class="nav-buttons">
                    <button class="nav-btn" [routerLink]="'/'">LOG IN</button>
                    <button class="nav-btn active">SIGN UP</button>
                </div>
                <div class="login-form">
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <input pInputText id="name" [(ngModel)]="name" name="name" />
                                <label for="name">Name</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <input pInputText id="email" [(ngModel)]="email" name="email" />
                                <label for="email">Email</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <p-password [toggleMask]="true" [(ngModel)]="password" (ngModelChange)="validatePassword()" class="custom-password">  
                                    <ng-template pTemplate="footer">
                                        <p-divider></p-divider>
                                        <p class="mt-2">Requirements</p>
                                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                            <li [class.valid]="passwordValid.lowercase">At least one lowercase</li>
                                            <li [class.valid]="passwordValid.uppercase">At least one uppercase</li>
                                            <li [class.valid]="passwordValid.numeric">At least one numeric</li>
                                            <li [class.valid]="passwordValid.minLength">Minimum 8 characters</li>
                                        </ul>
                                    </ng-template>
                                </p-password>
                                <label for="password">Password</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <p-calendar [(ngModel)]="birthDate" [defaultDate]="defaultDate" [minDate]="minDate" [maxDate]="maxDate" id="birthday" name="birthday" dateFormat="dd/mm/yy"> </p-calendar>
                                <label for="birthday">Birthday</label>
                            </p-floatLabel>
                        </div>
                    </div>

                    <div class="form-input">
                        <div class="card flex justify-content-center">

                            <p-fileUpload 
                                #fileUpload 
                                mode="basic" 
                                chooseLabel="Profile Image" 
                                accept="image/*" 
                                maxFileSize="1000000"
                                (onSelect)="onImageSelect($event)" 
                                (onClear)="onImageClear(fileUpload)" 
                                [disabled]="fileName !== ''" 
                                [auto]="true"
                                class="custom-file-upload">
                            </p-fileUpload>

                            <div *ngIf="fileName" class="file-details">
                                <span class="file-name">{{ fileName }}</span>
                                <i (click)="onImageClear(fileUpload)" class="pi pi-trash clear-btn"></i>
                            </div>
                            
                        </div>
                        
                    </div>
            
                    <div class="form-button">
                        <div class="card flex justify-content-center">
                            <p-button label="Register" [disabled]="!areAllFieldsFilled()" (click)="showConfirmDialog()"></p-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayConfirmDialog" [modal]="true" header="Confirm Registration" [closable]="true">
    <app-confirmation-pop-up 
        [subtitle]="'Are you sure you want to proceed?'" 
        (onClose)="closeConfirmDialog()"    
        (onSend)="onRegister()">
    </app-confirmation-pop-up>
</p-dialog>

<p-dialog [(visible)]="displayErrorDialog" [modal]="true" header="Error" [closable]="true">
    <app-notice
        [subtitle]="'This email already exists'" 
        (onClose)="closeErrorDialog()">
    </app-notice>
</p-dialog>

<p-toast></p-toast>