<div class="login-container">
    <div class="background-blurred"></div>

    <div *ngIf="loading" class="spinner-container">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>

    <div *ngIf="!loading" class="center-container">
        <div class="form-half">
            <div class="form-container">
                <div class="nav-buttons">
                    <button class="nav-btn active">LOG IN</button>
                    <button class="nav-btn" (click)="onSignUpClick()">SIGN UP</button>
                </div>
            
                <div class="login-form">
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <input pInputText id="email" [(ngModel)]="email" name="email" />
                                <label for="email">Email</label>
                            </p-floatLabel>
                        </div>
                    </div>
            
                    <div class="form-input">
                        <div class="card flex justify-content-center">
                            <p-floatLabel>
                                <p-password [toggleMask]="true" [feedback]="false" [(ngModel)]="password" class="custom-password" name="password"/>
                                <label for="password">Password</label>
                            </p-floatLabel>
                        </div>
                    </div>
            
                    <div class="reset-password">
                        <div class="card flex justify-content-center">
                            <a (click)="showForgotPasswordDialog()">Forgot your password? Click here</a>
                        </div>
                    </div>

                    <div class="form-button">
                        <div class="card flex justify-content-center">
                            <p-button label="Log In" (click)="onLogin()"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-half">
            <img src="assets/images/login.jpg" alt="Imagen centrada"/>
            <div class="centered-text">
                <div class="title">C&V</div>
                <div class="subtitle">BAR</div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Forgot Password" [(visible)]="displayForgotPasswordDialog" [modal]="true" [closable]="true">
    <app-user-forgot-password 
        (onClose)="closeForgotPasswordDialog()"
        (onSuccess)="showEmailDialog('A email was sent to you successfully')"
        (onFailed)="showEmailDialog('Something went wrong while sending your email')"
    ></app-user-forgot-password>
</p-dialog>

<p-dialog [(visible)]="displayErrorDialog" [modal]="true" header="Error" [closable]="true">
    <app-notice
        [subtitle]="'Email or password incorrect'" 
        (onClose)="closeErrorDialog()">
    </app-notice>
</p-dialog>

<p-dialog [(visible)]="displayEmailDialog" [modal]="true" header="Password Recover" [closable]="true">
    <app-notice
      [subtitle]="message"
      (onClose)="closeEmailDialog()">
    </app-notice>
  </p-dialog>



<p-toast></p-toast>
