<div class="conteiner">
  <!-- Header fijo -->
  <div class="menu-header">
    <div class="bar-info">
      <img src="assets/images/taza.png" alt="Logo del Bar" class="bar-logo">
      <h1 class="bar-name">C&V BAR</h1>
    </div>
  </div>

  <!-- Hero: ocupa pantalla debajo del header -->
  <main class="hero">
    <div class="center-content">
      <a [routerLink]="['/user-reserve']" class="p-button font-bold p-button-lg custom-button">
        Reservas
      </a>
      <a [routerLink]="['/menu-order']" class="p-button font-bold p-button-lg custom-button">
        Crear Pedido
      </a>
    </div>
  </main>
</div>
