<div class="conteiner">

    <div class="menu-header">
        <div class="bar-info">
            <img src="assets/images/taza.png" alt="Logo del Bar" class="bar-logo">
            <h1 class="bar-name">C&V BAR</h1>
        </div>
        <div class="search-bar">
            <p-autoComplete 
                [(ngModel)]="searchQuery" 
                (ngModelChange)="onSearchChange($event)"
                [suggestions]="filteredProducts" 
                (completeMethod)="searchProducts($event)" 
                field="name" 
                placeholder="Search products..." 
                [forceSelection]="false">
            </p-autoComplete>
        </div>
        <div class="cart-container" (click)="toggleCart()">
            <i class="pi pi-shopping-cart cart-logo"></i>
            <span class="cart-count">{{ getTotalItemsInCart() }}</span>
        </div>              
    </div>

    <div class="menu-categories">
        <div class="greeting">
            <h2>Hello! What will you order today?</h2>
        </div>

        <div *ngIf="loadingCategories" class="category-loading">
            <p-progressSpinner 
                strokeWidth="4" 
                animationDuration=".5s"
                [style]="{width: '40px', height: '40px'}">
            </p-progressSpinner>
        </div>

        <div *ngIf="!loadingCategories" class="category-container">
            <button (click)="onPreviousPage()" [disabled]="currentIndex === 0" class="nav-button">
                <i class="pi pi-chevron-left"></i>
            </button>
        
            <div class="category-card" *ngFor="let category of visibleCategories" 
                [ngClass]="{'selected-category': selectedCategories.includes(category)}"
                (click)="toggleCategorySelection(category)"
                [ngStyle]="{'background-color': category.color}">
                <span class="category-name">{{ category.name }}</span>
            </div>        
            <button (click)="onNextPage()" [disabled]="currentIndex + itemsPerPage >= categories.length" class="nav-button">
                <i class="pi pi-chevron-right"></i>
            </button>
        </div>
    </div>

    <div *ngIf="loadingProducts" class="product-loading">
        <p-progressSpinner 
            strokeWidth="4" 
            animationDuration=".5s"
            [style]="{width: '50px', height: '50px'}">
        </p-progressSpinner>
        <p>Loading products...</p>
    </div>

    <div *ngIf="!loadingProducts && loadingFilteredProducts" class="product-loading">
        <p-progressSpinner 
            strokeWidth="4" 
            animationDuration=".5s"
            [style]="{width: '50px', height: '50px'}">
        </p-progressSpinner>
    </div>

    <div *ngIf="!loadingProducts && !loadingFilteredProducts" class="product-container">
        <div *ngIf="filteredProducts.length === 0" class="no-products-message">
            <i class="pi pi-inbox" style="font-size: 4rem; color: #ccc; margin-bottom: 15px;"></i>
            <p>No products found</p>
        </div>

        <div class="product-card" *ngFor="let product of filteredProducts">        
            <div class="product-details">            
                <div class="text-details">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                </div>
                <img [src]="product.imageUrl" class="product-image" />    
            </div>    
            <div class="product-price">
                <span>${{ product.price }}</span>
                <div class="quantity-controls" *ngIf="getProductCount(product.id!) > 0; else addButton">
                    <button (click)="decrementProduct(product.id!)" class="decrement-button" *ngIf="product.id !== undefined">
                        <i class="pi pi-minus" style="font-size: 0.9rem"></i> 
                    </button>
                    <span>{{ getProductCount(product.id!) }}</span>
                    <button (click)="addProduct(product.id!)" class="increment-button" *ngIf="product.id !== undefined">
                        <i class="pi pi-plus" style="font-size: 0.9rem"></i> 
                    </button>
                </div>    
                <ng-template #addButton>
                    <button (click)="addProduct(product.id!)" class="add-product-button" *ngIf="product.id !== undefined">
                        <i class="pi pi-plus" style="font-size: 0.9rem"></i>
                    </button>
                </ng-template>                
            </div>
        </div>
    </div>

    <button class="floating-button" (click)="toggleCart()" [disabled]="loadingProducts">
        <i class="pi pi-file-check"></i> Create Order
    </button>    

</div>

<app-my-cart *ngIf="orderItems && orderItems.length > 0" 
    [orderItems]="orderItems" 
    [isVisible]="cartVisible" 
    (cartClosed)="handleCartClosed($event)">
</app-my-cart>