  .conteiner {
    position: relative;
    z-index: 1;
    height: 100vh; 
    overflow: hidden;
  }

  .conteiner::before {
    content: "";
    background-image: url('/assets/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    filter: blur(2px);
    z-index: -1;
  }

/*Menu Header*/
  .menu-header {
    overflow-y: visible; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #7f522e;        
  }
  
  .bar-info {
    margin-left: 2%;
    display: flex;
    align-items: center;
  }
        
  .bar-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
    
  .bar-name {
    font-size: 24px;
    font-weight: bold;
    color: #caa171;
  }
    
  .search-bar {
    flex-grow: 1;
    max-width: 700px;
    margin: 0 20px;
  }
  
  ::ng-deep .p-autocomplete input {
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    background-color: #ebe1d5;
    color: #7f522e;
    border: 2px solid #7f522eaf;
  }
    
  ::ng-deep .p-autocomplete input::placeholder {
    color: #7f522eaf;
  }

  ::ng-deep .p-autocomplete-panel {
    max-width: 700px;
    border-radius: 20px;
    border: 1px solid #caa171;
  }
    
  .cart-container {
    margin-right: 2%;
    display: flex;
    align-items: center;
  }
    
  .cart-logo {
    font-size: 2rem;
    color: #caa171;
    cursor: pointer;
  }

  .cart-container {
    position: relative;
  }
      
  .cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red; 
    color: white; 
    border-radius: 50%;
    padding: 0 6px;
    font-size: 12px;
  }
      

/*Menu Categories*/

  .menu-categories {
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .greeting {
    margin-top: 8%;
    font-size: 18px;
    color: #633e20;
    margin-bottom: 20px;
  }
  
  .category-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .category-card {
    position: relative;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .category-card:hover {
    transform: scale(1.05);
  }

  .selected-category {
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  .category-name {
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .nav-button {
    background-color: transparent;
    border: none;
    color: #7f522e;
    font-size: 24px;
    cursor: pointer;
    align-self: center;
  }
  
  .nav-button:disabled {
    color: #ccc;
    cursor: not-allowed;
  }
  
  /*PRODUCT CONTAINER*/
  .product-container {
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-bottom: 5%;
    margin-top: 2%;
    height: 55vh; 
    overflow-y: scroll; 
    scrollbar-width: none;
    -ms-overflow-style: none; 
  }
  
  .product-container::-webkit-scrollbar {
    display: none; 
  }
  
  
  .product-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 180px;
    text-align: left;
  }
  
  .product-details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .product-image {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    display: block; /* Asegura que no haya espacios adicionales */
    margin: 0 auto; /* Centra la imagen si es necesario */
    padding: 0; /* Elimina cualquier relleno */
  }
  
  
  .text-details {
    margin-top: -10px;
    align-self: flex-start;
    flex-grow: 1;
    margin-right: 3%;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .product-description {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
  }
  
  .product-price {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quantity-controls {
    display: flex;
    align-items: center; 
  }
  
  .decrement-button,
  .increment-button {
    background-color: #7f522e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .decrement-button:hover,
  .increment-button:hover {
    background-color: #634025; 
  }
  
  .add-product-button {
    background-color: #7f522e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
  }
  
  .add-product-button:hover {
    background-color: #634025;
  }

  .floating-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #7f522ed8; 
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000; 
  }

  .floating-button i {
      font-size: 1.2rem;
  }

  .floating-button:hover {
      background-color: #744a29d8;
  }


  @media (max-width: 1220px) { 
    .product-container {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 2%;
      gap: 20px;
      margin-bottom: 5%;
      height: 70vh; 
    }
  }

  @media (max-width: 768px) { 
    
    .menu-categories {
      margin-left: 2%;
      margin-right: 2%;
    }

    .greeting {
      margin-top: 20%;
      font-size: 12px;
    }
  
    .category-card {
      height: 50px;
    }
  
    .category-name {
      font-size: 12px;
    }

    .bar-logo {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    
    .bar-name {
      font-size: 12px;
    }
    
    .search-bar {
      max-width: 200px;
    }
  
    ::ng-deep .p-autocomplete input {
      padding: 5px;
      font-size: 12px;
      width: 200px;
    }
    
    ::ng-deep .p-autocomplete-panel {
      max-width: 200px;
    }
    
    .cart-logo {
      font-size: 1.5rem;
    }

  .product-container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2%;
    gap: 20px;
    margin-bottom: 5%;
    height: 70vh; 
  }
  
  .product-card {
    height: 180px;
  }
  
  .product-image {
    width: 130px;
    height: 80px;
  }

}