<div class="container-table-reserved">
  <div class="header">
    <h2 class="table-number">Table: {{ table.id }}</h2>
    <span class="status">{{ table.status }}</span>
  </div>

  <!-- Spinner mientras carga la reservación -->
  <ng-container *ngIf="loadingReservation; else reservationDetails">
    <div class="body">
      <p-progressSpinner styleClass="custom-spinner" [animationDuration]="'0.5'"></p-progressSpinner>
      <div class="title">Loading reservation...</div>
    </div>
  </ng-container>

  <ng-template #reservationDetails>
    <div class="body" *ngIf="reservation; else notFound">
      <div class="title">
        Reservation for: <strong>{{ reservation.customerName }}</strong>
      </div>
      <div class="details">
        {{ reservation.amountOfPeople }} people at {{ reservation.reservationTime }}
      </div>
      
      <div class="action-buttons full-width">
        <span [pTooltip]="isReservationLate() ? 'Pasó el tiempo de tolerancia. Usá No Show.' : ''" tooltipPosition="top">
            <button pButton label="Cancel" 
                    (click)="confirmCancellation('CANCEL')" 
                    class="p-button-danger"
                    [disabled]="isReservationLate() || cancelingReservation">
            </button>
        </span>
        
        <span [pTooltip]="!isReservationLate() ? 'Habilitado 15 min después de las ' + reservation.reservationTime : ''" tooltipPosition="top">
            <button pButton label="No Show" 
                    (click)="confirmCancellation('NO_SHOW')" 
                    class="p-button-warning"
                    [disabled]="!isReservationLate() || cancelingReservation">
            </button>
        </span>
        
        <div class="spacer"></div>
        
        <button pButton label="Close" class="close-button" (click)="closeDialog()" [disabled]="cancelingReservation"></button>
        
        <span [pTooltip]="isTooEarlyToCheckIn() ? 'Habilitado a las ' + reservation.reservationTime : ''" tooltipPosition="top">
            <button pButton 
                    label="Check-in" 
                    class="checkin-button" 
                    (click)="onCheckIn()"
                    [disabled]="isTooEarlyToCheckIn() || cancelingReservation">
            </button>
        </span>
        
      </div>
    </div>
    
    <ng-template #notFound>
       <div class="body">
          <div class="title">
            Error: Reservation ID #{{ table.current_reservation_id }} not found for today.
          </div>
          <div class="action-buttons">
            <button pButton label="Close" class="close-button" (click)="closeDialog()"></button>
          </div>
       </div>
    </ng-template>
  </ng-template>

  <!-- Overlay cuando está cancelando -->
  <div *ngIf="cancelingReservation" class="overlay">
    <p-progressSpinner styleClass="custom-spinner" [animationDuration]="'0.5'"></p-progressSpinner>
  </div>
</div>

<p-dialog [(visible)]="displaySuccessModal"
          [modal]="true"
          [closable]="false"
          [appendTo]="'body'" 
          header="Éxito">
  <app-notice
    [subtitle]="successMessage"
    (onClose)="closeSuccessModal()">
  </app-notice>
</p-dialog>

<p-dialog [(visible)]="displayErrorModal"
          [modal]="true"
          [closable]="false"
          [appendTo]="'body'"
          header="Error">
  <app-notice
    [subtitle]="errorMessage"
    (onClose)="closeErrorModal()">
  </app-notice>
</p-dialog>

<p-confirmDialog 
    key="table-reserved-confirm" 
    [appendTo]="'body'" 
    [style]="{width: 'auto', 'min-width': '300px'}">
</p-confirmDialog>