:host .container-table-reserved {
  background-color: #fff;
  border-radius: 30px;
  width: 450px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  margin: auto;
  min-height: 200px; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #c8731e;
  color: white;
}

.table-number {
  font-size: 1.5rem;
  margin: 0;
}

.status {
  font-size: 1.2rem;
  font-weight: 500;
}

.body {
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 10px;
}

.details {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c8731e;
  margin-bottom: 25px;
}

/* --- ARREGLO DE BOTONES --- */
.action-buttons {
  display: flex;
  gap: 10px; /* Separación entre todos los botones */
  width: 100%;
}

.spacer { 
  flex-grow: 1; /* Empuja los botones de la derecha */
} 

.close-button {
  background-color: #7f522e;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #613d20;
}

/* ESTILO DEL BOTÓN CHECK-IN (VERDE) */
.checkin-button {
  background-color: #23ae43; 
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkin-button:hover {
  background-color: #1b8734;
}

/* ESTILOS ESPECÍFICOS DE PRIMENG (::ng-deep) */

/* Botón de Cancelar (Rojo) */
:host ::ng-deep .p-button-danger {
    background-color: #f44336 !important;
    border-color: #f44336 !important;
}

/* Botón de No Show (Naranja) */
:host ::ng-deep .p-button-warning {
    background-color: #ff9800 !important;
    border-color: #ff9800 !important;
}

/* Modales transparentes */
::ng-deep .custom-modal .p-dialog {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
::ng-deep .custom-modal .p-dialog .p-dialog-header {
  display: none !important;
}
::ng-deep .custom-modal .p-dialog .p-dialog-header-icon.p-dialog-header-close {
  display: none !important;
}
::ng-deep .custom-modal .p-dialog .p-dialog-content {
  background-color: transparent !important;
  padding: 0 !important;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1100; /* un poco más alto que el modal de la mesa */
}

.custom-spinner {
  width: 60px;
  height: 60px;
}
