<div class="container">
  <div class="column column-left">
    <p class="title">PRODUCT REGISTER</p>
    <form class="form">
      <div class="form-group">
        <label for="product-name">Product Name</label>
        <input
          pInputText
          id="product-name"
          [(ngModel)]="name"
          placeholder="Coffe with milk..."
          name="product_name" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          pInputText
          id="description"
          [(ngModel)]="description"
          placeholder="Half coffe half milk..."
          name="description" />
      </div>
      
      <div class="form-group price-cost-container">
        <div class="price-container">
          <label for="price">Price</label>
          <input
            pInputText
            id="price"
            type="number"
            [(ngModel)]="price"
            placeholder="Enter price"
            name="product_price"
            min="0"
            (input)="onPriceChange($event)"
            (keypress)="onlyAllowNumbers($event)"
            required/>
        </div>
        <div class="cost-container">
          <label for="cost">Cost</label>
          <input
            pInputText
            id="cost"
            type="number"
            [(ngModel)]="cost"
            placeholder="Enter cost"
            name="product_cost"
            min="0"
            [max]="price"
            (input)="onCostChange($event)"
            (keypress)="onlyAllowNumbers($event)"
            required/>
        </div>
      </div>
  
      <div class="form-group amount-calories-container">
        <div class="amount-container">
          <label for="amount">Stock</label>
          <input
            pInputText
            id="amount"
            type="number"
            [(ngModel)]="stock"
            placeholder="Purchased stock"
            name="product_amount"
            min="0"
            (input)="onStockChange($event)"
            (keypress)="onlyAllowNumbers($event)"
            required />
        </div>
      
        <div class="calories-container">
          <label for="calories">Calories</label>
          <div class="calories">
            <div class="calories-display">
              {{ totalCaloriesValue !== undefined ? totalCaloriesValue : 'Ingredients' }}
            </div>
            <button pButton icon="pi pi-plus" class="p-button-rounded p-button-text" 
                    (click)="showCalories()"></button>
          </div>
        </div>
      </div>
      

      <div class="form-group">
        <label for="category">Category</label>
        <div class="category-container">
          
          <p-multiSelect 
            [options]="categoryOptions" 
            [(ngModel)]="selectedCategories"
            name="categories"
            optionLabel="label"
            optionValue="value"
            placeholder="Select categories"
            [maxSelectedLabels]="100"
            (onChange)="onCategoryChange($event)">
          </p-multiSelect>
            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"
                    (click)="showCategories()"></button>
        </div>
      </div>

      <div class="form-group">
        <label for="image">Image</label>
      
        <p-fileUpload 
          #fileUpload 
          mode="basic" 
          chooseLabel="Choose" 
          accept="image/*" 
          maxFileSize="1000000"
          (onSelect)="onImageSelect($event)" 
          (onClear)="onImageClear(fileUpload)" 
          [disabled]="fileName !== ''" 
          [auto]="true"
          class="custom-file-upload">
        </p-fileUpload>
      
        <div *ngIf="fileName" class="file-details">
          <span class="file-name">{{ fileName }}</span>
          <i (click)="onImageClear(fileUpload)" class="pi pi-trash clear-btn"></i>
        </div>
      </div>
      
      
      <div class="card flex justify-content-center">
        <button (click)="showConfirmDialog()" [disabled]="!isFormValid() || loading"   class="btn-save">
          <ng-container *ngIf="loading">
            <p-progressSpinner strokeWidth="5" [style]="{width: '20px', height: '20px'}"></p-progressSpinner>
            Saving...
          </ng-container>
          <ng-container *ngIf="!loading">
            Save
          </ng-container>
        </button>
      </div>
  </form>
  <div *ngIf="showCategoryPanel || showCaloriesPanel" class="overlay"></div>

  </div>
    <div class="column column-right">
      <img src="../../../../assets/images/new_product.jpg" alt="Imagen de fondo" class="background-image">
      <app-categories
        *ngIf="!isMobile && showCategoryPanel" 
        (onSave)="handleCategorySave()" 
        (onClose)="handleCategoryClose()"
        class="app-categories-overlay">
      </app-categories>
      <app-calories
        *ngIf="!isMobile && showCaloriesPanel" 
        (onSave)="handleCaloriesSave()" 
        (onClose)="handleCaloriesClose()"
        class="app-categories-overlay"
        (totalCalories)="handleTotalCalories($event)">
    </app-calories>
  </div>

  <app-categories
      *ngIf="isMobile && showCategoryPanel" 
      (onSave)="handleCategorySave()" 
      (onClose)="handleCategoryClose()"
      class="app-categories-overlay">
    </app-categories>

    <app-calories
      *ngIf="isMobile && showCaloriesPanel" 
      (onSave)="handleCaloriesSave()" 
      (onClose)="handleCaloriesClose()"
      class="app-categories-overlay"
      (totalCalories)="handleTotalCalories($event)">
    </app-calories>


  <div *ngIf="loading" class="loading-overlay">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<p-dialog [(visible)]="displayConfirmDialog" [modal]="true" header="Register new product" [closable]="true">
  <app-confirmation-pop-up
    [subtitle]="'Are you sure you want to proceed?'"
    (onClose)="closeConfirmDialog()"
    (onSend)="onRegister()">
  </app-confirmation-pop-up>
</p-dialog>

<p-dialog [(visible)]="displayErrorDialog" [modal]="true" header="Error" [closable]="true">
  <app-notice
    [subtitle]="errorSubtitle"
    (onClose)="closeErrorDialog()">
  </app-notice>
</p-dialog>

<p-toast></p-toast>
